<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Marcos Santos García-Miguel</h1>
        <h3>Desarollador Fullstack</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="www.linkedin.com/in/marcos-santos-gm" class="" target="_blank">
            <img src="/assets/LI-In-Bug.png" alt="linkedin" width="36" height="34" class="me-2">
        </a>

        <a href="https://github.com/MarcosSantosGM?tab=repositories" class="" target="_blank">
            <img src="/assets/github-mark.png" alt="github" width="34" height="34" class="me-2">
        </a>
    </div>
</div>