<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-info mb-5 shadow-lg border rounded-pill px-5 py-3">
        <i class="bi bi-download"></i> Descargar CV
      </button>
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isworkExperieneceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Experiencia:</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isworkExperieneceOpen" style="color: white;">></div>
                        <div *ngIf="isworkExperieneceOpen" style="color: white;">v</div>
                    </div>

                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Desarrollador Web</h2>
                    <h3 class="text-primary">Agencia Empleo/Ayuntamieno Madrid</h3>
                    <p>Enero - Noviembre 2024</p>
                    <ul>
                        <li>Desarrollo y mantenimiento de páginas web utilizando
                            JavaScript, PHP, HTML, CSS, Bootstrap, WordPress,
                            y MySQL</li>
                        <li> Análisis de datos y creación de scripts automatizados en
                            Python, empleando librerías como Seaborn para
                            visualización de datos.</li>
                        <li>Gestión y ejecución de proyectos relacionados con
                            realidad virtual.</li>
                        <li>Edición de imágenes y videos.</li>
                    </ul>
                </div>
                <br>
                <div style="text-align: left;">
                    <h2 class="mb-0">Desarrollador Web Fullstack</h2>
                    <h3 class="text-primary">DLTCODE, SL</h3>
                    <p>Marzo - Junio 2023</p>
                    <ul>
                        <li>Desarrollo de proyectos de ingeniería y aplicación
                            con :
                            <ul>
                                <li>Java (Spring Boot, Spring Security) para el
                                    backend </li>
                                <li>Angular con TypeScript para el frontend.</li>
                                <li>SQL para la gestión y manipulación de bases de
                                    datos.</li>
                            </ul>
                        </li>
                        <li>Desarrollo proyectos de ingeniería</li>
                        <li>HTML, CSS, y Bootstrap para diseño web
                            responsive</li>
                        <li> Resolución de incidencias y depuración de código.
                        </li>
                    </ul>
                </div>
                <br>
                <div style="text-align: left;">
                    <h2 class="mb-0">Web Developer</h2>
                    <h3 class="text-primary">VORTEX DIMENSION DIGITAL, SL</h3>
                    <p>April - June 2021</p>
                    <ul>
                        <li>Website development with WordPress, CSS, and HTML. </li>
                        <li>AManaging the company's social media accounts</li>
                        <li>Computer equipment maintenance.</li>
                    </ul>
                </div>

            </accordion-group>

            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Educación:</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div>

                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">IES REY FERNANDO VI</h2>
                    <h3 class="text-primary">Grado superior DESARROLLO 
                        APLICACIONES WEB (DAW)</h3>
                    <p>2021 - 2023</p>
                    <ul>
                        <li>Proyecto final TFG: Aplicación comercio online <br> <a href="https://github.com/MarcosSantosGM/
                            ProyectoDaw">https://github.com/MarcosSantosGM/
                                ProyectoDaw</a></li>
                    </ul>
                </div>
                <br>
                <div style="text-align: left;">
                    <h2 class="mb-0">IES VILLABLANCA</h2>
                    <h3 class="text-primary"> Grado medio SISTEMAS MICROINFORMATICOS 
                        Y REDES (SMR)</h3>
                    <p>2019 - 2021</p>
                </div>
            </accordion-group>

            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Certificados:</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificationsOpen" style="color: white;">></div>
                        <div *ngIf="isCertificationsOpen" style="color: white;">v</div>
                    </div>

                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">EOI Moratalaz</h2>
                    <h3 class="text-primary"> Título B2 Escuela Oficial de idiomas.</h3>
                    <p>2021</p>
                </div>
                <br>
                <div style="text-align: left;">
                    <h3 class="text-primary"> Machine Learning. Curso básico de Machine 
                        Learning y Python Udemy</h3>
                    <p>Obtenido en 2024</p>
                    <ul>
                        <li><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-3532af8c-166c-4bc8-8497-0a35504cf1f8.pdf?trk=public_profile_see-credential"
                                target="_blank">Curso básico de Machine 
                                Learning y Python</a></li>
                    </ul>
                </div>
                <br>
                <div style="text-align: left;">
                    <h3 class="text-primary">Python A-Z: Python para Data Science Udemy</h3>
                    <p>Obtenido en 2024</p>
                    <ul>
                        <li><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-77e2039d-1b99-4b89-bd72-d417adf6cde2.pdf?trk=public_profile_see-credential"
                                target="_blank">Python para Data Science</a></li>
                    </ul>
                </div>
            </accordion-group>

            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Habilidades:</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                        <div *ngIf="isSkillsOpen" style="color: white;">v</div>
                    </div>

                </button>
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Lenguajes de programacion:</h3>
                        <ul>
                            <li>Java</li>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>PHP</li>
                            <li>HTML</li>
                            <li>CSS</li>
                        </ul>
                        <div class="col">
                            <h3>Frameworks:</h3>
                            <ul>
                                <li>Angular</li>
                                <li>SpringBoot</li>
                                <li>SpringSecurity</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h3>Otras Hablidades:</h3>
                            <li>Control de código via Git</li>
                            <li>arquitectura MVC</li>
                            <li>Base de datos SQL</li>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>


</div>