<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2 class="m-2">Sobre mí</h2>
                <img src="./assets/foto.jpg" alt="profile picture" width="256" height="256" class="rounded-circle m-2">
                <h3 class="m-2">Desarrollador de Aplicaciones Web</h3>
                <p class="m-2">Desarrollador de Aplicaciones Web. Especializado en crear soluciones prácticas y
                    efectivas, aplicando los conocimientos adquiridos tanto en mis estudios como en el entorno
                    profesional. Busco un equipo donde pueda seguir creciendo y en el que pueda aportar al desarrollo de
                    aplicaciones web.</p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2 class="m-2">Proyecto Destacado</h2>
                <h4>{{featuredProject.nombre}}</h4>
            </div>
            <carousel>
                <div *ngFor="let imagen of featuredProject.imagenes">
                    <slide><img src={{imagen}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>
            <p class="m2-2 mt-2">{{featuredProject.resumen}}</p>
            <p>¡Visita la sección de portafolio para ver más!</p>
        </div>
    </div>
</div>